<h4>Esqueceu sua senha?</h4>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Email" id="user_email" name="user[email]" type="text" class="validate">
          <label for="user_email">Email</label>
        </div>
      </div>
      <div>
        <button class="btn waves-effect waves-light" type="submit" name="commit">
          Registrar
        </button>
      </div>
    </form>
  </div>
<% end %>

<%= render "devise/shared/links" %>
