<article ng-app="customers" ng-controller="CustomerSearchController">
  <header>
    <h4>Buscar Clientes</h4>
  </header>
  <section class="section">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s9">
            <input placeholder="Nome" id="search" type="text" name="keywords" ng-model="keywords"></input>
          </div>
          <div class="col s3">
            <button class="btn-floating btn-large waves-effect waves-light" ng-click="search(keywords)">
            <i class="material-icons">search</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <section class="section">
    <header>
      <h4>Resultados</h4>
    </header>
    <%= render partial: "pager", locals:{keywords: @keywords, page: @page} %>
    <ul class="collection avatar">
      <li class="collection-item" ng-repeat="customer in customers">
        <span class="title"><h5>{{customer.name}}</h5></span>
        <p>
          {{customer.phone}}
          <a href="#!" class="secondary-content"><i class="material-icons">person</i></a>
        </p>
      </li>
    </ul>
    <%= render partial: "pager", locals:{keywords: @keywords, page: @page} %>
  </section>
</article>