<header>
  <h4>Buscar Clientes</h4>
</header>
<section class="section">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s9">
          <input id="search" type="text" name="keywords" ng-change="search(keywords)" ng-model="keywords"></input>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </div>
    </form>
  </div>
</section>
<section class="section" ng-if="customers.length > 0">
  <header>
    <h4>Resultados</h4>
  </header>
  <nav class="teal">
    <div class="center nav-wrapper">
      <ul class="hide-on-med-and-down">
        <li>
          <a href="" ng-click="previousPage()" class="brand-logo left"><i class="material-icons">skip_previous</i></a>
        </li>
        <li>
          <a href="" ng-click="nextPage()" class="brand-logo right"><i class="material-icons">skip_next</i></a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="collection avatar">
    <li class="collection-item" ng-repeat="customer in customers">
      <span class="title"><h5>{{customer.name}}</h5></span>
      <p>
        {{customer.phone}}
        <a href="#!" class="secondary-content"><i class="material-icons">person</i></a>
      </p>
      <div>
        <button class="waves-effect waves-light btn" ng-click="viewDetails(customer)">Ver Detalhes...</button>
        <a href="" ng-click="edit(customer)" class="secondary-content"><i class="material-icons">edit</i></a>
      </div>
    </li>
  </ul>
  <nav class="teal">
    <div class="center nav-wrapper">
      <ul class="hide-on-med-and-down">
        <li>
          <a href="" ng-click="previousPage()" class="brand-logo left"><i class="material-icons">skip_previous</i></a>
        </li>
        <li>
          <a href="" ng-click="nextPage()" class="brand-logo right"><i class="material-icons">skip_next</i></a>
        </li>
      </ul>
    </div>
  </nav>
</section>